@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant-numeric: lining-nums proportional-nums;
  color: #fff;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;

  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 3;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
    }

    p {
      text-transform: lowercase;
      text-align: center;
      line-height: 30px;
    }

    button {
      border: 1px solid #a8555a;
      background: #a8555a;
      border-radius: 50px;
      padding: 0.75rem 2rem;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .perfume {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-top {
      margin-bottom: -40px;
      z-index: 2;
    }
  }

  .bg1,
  .bg2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg1 {
    background-image: url("/bg-1.png");
    z-index: 2;
  }
  .bg2 {
    background-image: url("/bg-2.png");
    //z-index: 4;
  }
}

.copyright {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    background: #a8555a;
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    a {
      font-weight: 700;
    }
  }
}
